body {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: limegreen;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {
    color: limegreen;
    font-size: 24px;
    text-align: center;
    margin-top: 20%;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 20px;
}
